body {
  background-color: #86e2b1;
  color:;
}

.quotebox {
  background-color: white;
  margin: 10% auto 40px auto;
  width: 50%;
  padding: 80px;
  color: #64c493;
  border-radius: 4px;
}

.quote {
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Marck Script', cursive;
  font-size: 40px;

}

.author {
  text-align: right;
  padding: 10px;
  padding-top: 50px;
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
}

.newQuote {
  position: relative;
  float: right;
  padding: 10px;
  margin: 10px;
  border: 0;
  font-size: 20px;
  background-color: #86e2b1;
  color: white;
  border-radius: 4px;
}

.fa-quote-right {
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
}

.twitterbutton {
  background-color: #86e2b1;
  color: white;
  font-size: 30px;
  position: relative;
  float: left;
  border-radius: 4px;
  padding: 6px 10px;
  margin-top: 5px;
}

footer {
  color: white;
  font-family: Arial;
  text-align: center;
}